@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url("https://media.giphy.com/media/gPkIN121mRrZS/giphy-downsized-large.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  color: #000;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.counter {
  width: 40rem;
  border: 1px solid grey;
  padding: 1rem;
  background-color: lightblue;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  /* opacity: 0.5; */
}

.counter > * {
  margin-bottom: 2rem;
}

.count {
  font-size: 4rem;
}

.buttons button {
  padding: 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button.subtract {
  background-color: #d43f3f;
}

button.reset {
  background-color: #ffffff;
  color: #000;
}

button.add {
  background-color: #00cc44;
}
